<div class="component">
  <div class="container">
    <div class="content-image">
      <img
        [src]="img_news"
        alt="logo fondo"
        class="img"
        routerLink="/novedades"
      />
    </div>

    <div class="content-text">
      <h3 class="h3">
        Si el año pasado las probaste, ya sabes de lo que estamos hablando… 😘
      </h3>
      <br />
      <h3 class="h3">Volvieron nuestras medialunas navideñas 🎄</h3>
      <br />
      <h3 class="h3">🥰¡Pásate por nuestra esquina a probarlas!</h3>
    </div>
  </div>

  <button class="btn">
    <a
      href="https://www.facebook.com/photo.php?fbid=3804714883177757&set=pb.100009178485054.-2207520000"
      target="_blank"
      rel="noopener noreferrer"
      class="a"
      >Ver en facebook</a
    >
  </button>
</div>
