.nav {
  background-color: #222;
  color: white;
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-menu {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 70px;
}

.navbar-submenu {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  width: 100%;
}

.hamburger {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 70px;
}

.img_logo {
  width: 45px;
  height: 45px;
}

.ul {
  display: flex;
  flex-flow: row;
}

.a {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-brand {
    min-height: 70px;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    padding: 1rem;

    flex-flow: column;
    align-items: flex-start;

    width: 70%;
    height: 100%;
    position: fixed;
    background-color: rgb(30, 18, 10);
    top: 0;
    right: 0;
    z-index: 1;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-submenu {
    flex-flow: column;
  }
}
