.header {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 10vh 0;
  background-size: cover;
  background-position: center;
  height: 30vh;
}

.header h1 {
  font-size: 48px;
  margin: 0;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nosotros-info {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
}
