<section
  class="section background"
  [ngStyle]="{ 'background-image': 'url(' + img_background + ')' }"
>
  <img [src]="img_fondo" alt="logo fondo" class="img border" />
</section>

<section class="section dark">
  <img [src]="img_news" alt="logo fondo" class="img" />
</section>

<section class="section">
  <h2 class="h2">Nuestra carta</h2>
  <app-textandimg [img]="img_carta" [txt]="txt_carta"></app-textandimg>

  <button class="btn" routerLink="/carta">Ver</button>
</section>

<section class="section dark">
  <app-textandimg
    [img]="img_compartir"
    [txt]="txt_compartir"
    [reverse]="true"
  ></app-textandimg>
  <div class="horarios">
    <app-horarios [strHorarios]="str_horarios"></app-horarios>
    <app-horarios [strHorarios]="str_horarios2"></app-horarios>
  </div>

  <button class="btn" routerLink="/nosotros">Ver</button>
</section>

<section class="section">
  <h2 class="h2">Nuestros clientes</h2>
  <app-review-carousel></app-review-carousel>
</section>
