<header
  class="contact-header"
  [ngStyle]="{ 'background-image': 'url(' + img_background + ')' }"
>
  <h1>CONTACTO</h1>
</header>

<div class="contact-info">
  <div class="contact-card">
    <i class="fas fa-map-marker-alt">📍</i>
    <h3>UBICACIÓN</h3>
    <p>Ministro Brin 2949</p>
    <p>Lanús, Argentina</p>
  </div>

  <div class="contact-card">
    <i class="fas fa-phone">📞</i>
    <h3>TELÉFONO</h3>
    <p>WhatsApp: 11 5600 2592</p>
    <p>Línea fija: 4600-3507</p>
  </div>

  <div class="contact-card">
    <i class="fas fa-clock">🕒</i>
    <h3>HORARIO DE ATENCIÓN</h3>
    <p>Lunes a viernes de 07.30 a 21.00hs</p>
    <p>Sábado y domingo de 08.00 a 21.00hs</p>
  </div>
</div>

<div class="how-to-arrive">
  <h2>¿CÓMO LLEGAR?</h2>

  <div class="map-container">
    <div class="map-responsive">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.945818806752!2d-58.3958672!3d-34.7065465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd18b6156c4b%3A0xb0f5add07051254d!2sMinistro%20Brin%202949%2C%20B1826%20DYO%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1736891953247!5m2!1sen!2sar"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</div>
