* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px auto;
  text-align: left;
}

.reverse {
  flex-direction: row-reverse;
}

.content-image {
  flex: 1;
  max-width: 500px;
  padding: 10px;
}

.content-text {
  flex: 1;
  max-width: 500px;
  padding: 20px;
}

.marco-externo {
  position: relative;
  max-width: 500px;
  max-height: 410px;
  background-color: white;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.marco-interno {
  background-color: rgb(200, 200, 200);
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  clip-path: polygon(
    8% 0,
    92% 0,
    100% 8%,
    100% 92%,
    92% 100%,
    8% 100%,
    0 92%,
    0 8%
  );
}

.img {
  max-height: 380px;
  width: 460px;
}

.h3 {
  text-align: center;
}

.h3::after {
  content: "";
  display: block;
  width: 10%;
  height: 1px;
  background-color: white;
  margin: 2rem auto 2rem;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .content-text {
    text-align: center;
  }

  .marco-externo {
    border: 2px solid black;
  }

  .marco-interno {
    border: 1px solid;
  }

  .img {
    height: 310px;
  }
}
