<div class="carousel-container">
  <button class="carousel-button left" (click)="prevSlide()">&#8249;</button>
  <div class="carousel-track">
    <div class="carousel-item" *ngFor="let review of reviews">
      <app-review-card
        [name]="review.name"
        [date]="review.date"
        [reviewText]="review.reviewText"
        [stars]="review.stars"
        [icon]="review.icon"
        [isIconUrl]="review.isIconUrl"
      >
      </app-review-card>
    </div>
  </div>
  <button class="carousel-button right" (click)="nextSlide()">&#8250;</button>
</div>
