<div class="component">
  <div class="container">
    <div class="content-image">
      <img
        [src]="img_news"
        alt="logo fondo"
        class="img"
        routerLink="/novedades"
      />
    </div>

    <div class="content-text">
      <h3 class="h3">
        Disfruta de un rico moñito de crema pastelera y membrillo junto o al
        mejor café ☕️
      </h3>
      <br />
      <h3 class="h3">🙌🏻Los esperamos</h3>
      <br />
      <h3 class="h3">Nos encontramos todos los días hasta las 21.00hs 🕢</h3>
      <br />
      <h3 class="h3">📍Ministro Brin 2949</h3>
    </div>
  </div>

  <button class="btn">
    <a
      href="https://www.instagram.com/p/DEZ8qhgRtva/"
      target="_blank"
      rel="noopener noreferrer"
      class="a"
      >Ver en Instagram</a
    >
  </button>
</div>
